[2015-11-04 05:57] jasoet opened #12 "Deserialize Complex Object Bug"
Deserialize from JSON String return `HashMap` rather than Concrete Type.

[code]

Test Above produce `java.lang.ClassCastException: java.util.HashMap cannot be cast to javaslang.jackson.datatype.BeanTest$ComplexInnerClass` pointing on
[code]

[2015-11-04 05:59] jasoet commented on #12
I created pull request #11 containing code above.

[2015-11-04 06:21] ruslansennov commented on #12
Thank you

[2015-11-04 06:50] #12 closed

[2015-11-05 08:13] danieldietrich opened #14 "Move code coverage from coveralls.io to codecov.io"
Just did it for Javaslang. Looks awesome!

* [Coverage](https://codecov.io/github/javaslang/javaslang?branch=master)
* [Changes](https://github.com/javaslang/javaslang/pull/765/files)

[2015-11-05 18:08] ruslansennov commented on #14
wow!
https://github.com/codecov/browser-extension#codecov-extension

[2015-11-05 18:28] danieldietrich commented on #14
Yes, really cool!

[2015-11-05 18:30] danieldietrich commented on #14
Think it does work all now - will close it.

[2015-11-05 18:30] #14 closed

[2015-11-18 08:41] jasoet-gdp opened #26 "Cannot Correctly Deserialize TreeMap and HashMap with non-string keys"
As discussed at #25, javaslang-jackson currently not able to Deserialize TreeMap and HashMap with non-string keys correctly.

[code]

Keys from TreeMap/HashMap object from JSON with non-string keys  converted to String during Deserialization.

![screen shot 2015-11-18 at 3 30 21 pm](https://cloud.githubusercontent.com/assets/12537951/11236251/b76c42ba-8e0a-11e5-96cd-e2db8c7a10e3.png)

[2015-11-18 08:49] ruslansennov commented on #26
No. During serialization. See [this](https://github.com/javaslang/javaslang-jackson/blob/master/src/main/java/javaslang/jackson/datatype/serialize/MapSerializer.java#L34)

[2015-11-21 10:53] v1ctor opened #29 "Serialization of Option"
Executing of this code:
[code]
leads to this exception:
[code]

I haven't find OptionSerializer and OptionDeserealizer.

If you don't mind I will do it soon.

[2015-11-21 11:08] danieldietrich commented on #29
Hi Victor, sounds great, we really appreciate your help. @ruslansennov is the _master of the javaslang-jackson repo_. He is the best technical advisor here...
Happy hacking!

[2015-11-21 13:39] ruslansennov commented on #29
Victor, yhank you

[2015-11-23 14:40] #29 closed

[2015-11-25 04:46] #26 closed

[2015-11-25 07:17] ruslansennov opened #33 "Refactoring"
<code>BaseDeserializer</code> must be destroyed

[2015-11-25 09:08] danieldietrich commented on #33
![rambo](https://cloud.githubusercontent.com/assets/743833/11392814/7a23a306-935c-11e5-8312-159a63baebdb.png)

[2015-11-25 21:11] #33 closed

[2016-05-04 03:57] atrianac opened #51 "Option incorrect serialization"
When Option is Optional.None and @JsonInclude(Include.NON_EMPTY) or @JsonInclude(Include.NON_NULL) is present, the null field is serialized

[2016-05-11 19:25] ruslansennov commented on #51
Thank you!

[2016-05-11 19:25] #51 closed

[2016-05-13 02:39] atrianac opened #54 "Either serialization is not according to its semantic"
I think the Either serialization is not according to its semantic. Either could be Left or Right (but not both), for example a field with value `Either.right(R right)` is serialize to `{"either":[null,R]}`, but it should be only  `{"either":R}`.

[2016-05-13 02:56] ruslansennov commented on #54
I believe there will be problems with deserialization in your case. For example, what's right answer for deserialization <code>{"either":42}</code> to <code>Either&lt;Integer, Integer&gt;</code>? It will be left or right?

[2016-05-13 05:15] atrianac commented on #54
I think it should be always right. I know we can lost information here, but if you notice Either semantic always works with right value (isEmpty and getOption)

[2016-05-13 05:35] ruslansennov commented on #54
Either semantic prefers right value, but works also with left value well.
[code]
But if <code>Either.Left</code> after serialization/deserialization will be <code>Either.Right</code> it can break user logic.

/cc @danieldietrich

[2016-05-13 05:49] atrianac commented on #54
Yes @ruslansennov you right, This is a problematic thing, for example, how should the behavior when we use @JsonIgnore annotation for an Either field?

[2016-05-13 05:51] atrianac commented on #54
Sorry, when we use @JsonInclude(NotNull)

[2016-05-13 05:54] ruslansennov commented on #54
Hmmm... I have no idea. Maybe user must be aware that he does :smile:

[2016-05-13 07:34] danieldietrich commented on #54
@atrianac, @ruslansennov without diving too deep into technical details, the combined operation `deserialize(serialize(either)) =: either'` should result in `either'` such that `either.equals(either')`. That is our invariant. Serialization does not perform any kind of transformation.

It is right that our Either implementation is right-biased. But we should not confuse _operations_ on an Either in

[2016-05-13 07:55] ruslansennov commented on #54
Something like <code>{"either": ["left", 42]}</code>
It's possible

[2016-05-13 13:17] danieldietrich commented on #54
This is the way to go!

[2016-05-19 04:31] #54 closed

[2016-06-01 09:21] emmanueltouzery opened #57 "Option: undefined gets deserialized as null"
If I add this test to `OptionTest.java`, I get a test fail:

[code]

In other words, `undefined` gets deserialized to `null`instead of the expected `Option.none()`. That's a major setback, but then I have no idea whether jackson would allow to fix that.

[2016-06-01 09:40] ruslansennov commented on #57
Hi @emmanueltouzery
Thank you for your feedback
It seems we should store additional flag, something like `{"opt": ["defined", null]}` or `{"opt": ["undefined"]}`
See #54

[2016-06-01 09:59] emmanueltouzery commented on #57
I don't know, I think if a field is `Option` it should never be null, otherwise it really gets messy. So ideally no flag, as I think it's clear what's the right thing to do. Probably you're concerned about backwards compatibility?

Personally I'm afraid that jackson doesn't even allow this at all :-(

[2016-06-01 10:31] ruslansennov commented on #57
No, it makes sense that there is a `Some(null)`. There are a few use-cases where this is needed.
(See a [recent discussion](https://github.com/javaslang/javaslang/pull/1180))

Unfortunately, backward compatibility is already compromised by `Either`. Upcoming version is 2.1.0 and we still can additionally change algorithm of `Option`'s encoding/decoding

[2016-06-01 10:41] emmanueltouzery commented on #57
alright, I get it. So today, `undefined -> null`.
In 2.1, you could be able to say => `undefined -> Option.none() OR undefined -> Option.some(null)`.

I guess in no case, ever, should it deserialize to `null`, as it does today, though.

[2016-06-01 10:56] ruslansennov commented on #57
We can do something like this:

**Serialization**

Option.none() -> ["undefined"]
Option.some(value) -> ["defined", value]
Option.some(null) -> ["defined", null]

**Deserialization**

["undefined"] -> Option.none()
["defined", value] -> Option.some(value)
["defined", null] -> Option.some(null)

[2016-06-01 11:03] emmanueltouzery commented on #57
presumably if the user says nothing the default is `["undefined"]`? Otherwise sounds great, I hope it makes it in 2.1!

[2016-06-01 11:07] ruslansennov commented on #57
Yep

PR are welcome :)

[2016-06-01 11:16] emmanueltouzery commented on #57
i would work on it but I am still under the impression that jackson may not support it.

OptionDeserializer already contains this:

[code]

So there is a custom handling for `null` in jackson. I am not sure how to handle `undefined` with jackson, or even whether it's possible.

[2016-06-01 12:16] ruslansennov commented on #57
OptionDeserializer may look like [EitherDeserializer](https://github.com/javaslang/javaslang-jackson/blob/master/src/main/java/javaslang/jackson/datatype/deserialize/EitherDeserializer.java) (updated few minutes ago, thank you again)

[2016-06-04 04:25] #57 closed

[2016-06-04 17:24] emmanueltouzery commented on #57
I am pretty confused by the change in the end..
If the json contains eg "6" and we want to deserialize to Option<Integer>, we still get Option.of(6) right?
And Option.of(6) goes to "6" by default in the json? Or we actually use these (non idiomatic) arrays in the json?

I thought you were talking about options for the setup of javaslang-jackson, actually binding to arrays would break our use-case

[2016-06-04 17:34] emmanueltouzery commented on #57
(i think my goal is interop with idiomatic json and your goal is 1:1 matching between java and json and the goals don't match at all.

I would have, for Option<Integer> for instance:

undefined -> none()
null -> none()
"sff" -> none()
6 -> of(6)

of(6) -> 6
none() -> null

I'm sorry that i read you way too fast the first time. I hope if it's not the default operation, some setting could enable tha

[2016-06-04 18:02] emmanueltouzery commented on #57
so I understand, you want to support Some(null). However I think most projects don't need that but have a much more pressing need for idiomatic interop with JS. Do you think a global option for javaslang-jackson is possible? That would enable either 1:1 conversion including Some(null), or idiomatic JSON? Should I open a bug about that, or you won't accept that in javaslang-jackson?

[2016-06-04 18:02] ruslansennov commented on #57
Option deserialization (Either deserialization also) is the pain in the ass :(
Here is my logic of last change:
* Option can be defined (with any value including null) or undefined
* Therefore we should store this property (defined/undefined) in json for correct deserialization of null

Now this your comment

is true. We have non-idiomatic but correct json-format for storing Option.
I understand y

[2016-06-04 18:13] emmanueltouzery commented on #57
Ok I'm glad the option is acceptable to you. Do you think you'll make it for 2.1 or should I try to prepare a PR? That one is really important to me and if you don't plan to make it for 2.1 I'll work on it.

[2016-06-04 18:20] ruslansennov commented on #57
I'll try to implement this soon. Maybe it will be two setup option:

* `Option` will be encoded/decoded as array or as plain value. I'm not sure which behavior should be default
* `null` will be decoded as `Option.none()` or as `Option.some(null)`

[2016-06-05 08:31] ruslansennov commented on #57
@emmanueltouzery Option encode/decode default behavior reverts to [701c652](https://github.com/javaslang/javaslang-jackson/tree/701c652d2adddbd4430d6eb4113ac5d2ef2d33f7)  and setup options added.
Regarding your initial requiest, please see [BeanAnnotationTest.java](https://github.com/javaslang/javaslang-jackson/blob/701c652d2adddbd4430d6eb4113ac5d2ef2d33f7/src/test/java/javaslang/jackson/datatype/

[2016-06-06 08:20] jlogar opened #62 "List (CSV) serialization and SerializationFeature"
I'm having some issue with serailizing joda.DateTime in a List. I've been able to reduce it down to this simple test:
[code]

It seems like the DateTime doesn't get serialized using the SerailizationFeature when using a DateTime in a javaslang.collection.List.
Am I doing something wrong here?

[2016-06-06 18:27] ruslansennov commented on #62
Thank you @jlogar
I'll investigate this

[2016-06-06 21:12] ruslansennov commented on #62
Previous implementation uses the configuration from `Mapper` but not from `Writer`.
It seems now is all OK

[2016-06-06 21:12] #62 closed

[2016-06-08 06:12] jlogar commented on #62
thanks a lot!!

[2016-07-23 20:58] zsolt-donca opened #64 "Error when deserializing various types when the data contains `Option.none()`"
There is an error when deserializing JSON containing nulls to various collection types with `Option` as type argument. The collection types include `Seq` and its subtypes, `Set` types, `Either`, and `Tuple`. `Map` and `Multimap` is apparently not affected, when using `Option` the value type*.

Concrete example: deserializing `[null, "foo"]` into `List<Option<String>>` should produce `List(Option.n

[2016-07-27 00:24] danieldietrich commented on #64
Thank you @zsolt-donca. Ruslan is currently on vacation, he will check it when he's back.

[2016-07-31 17:18] v1ctor opened #66 "Javaslang container types don't work with polymorphic types"
Hi!

I figured out that javaslang jackson module don't know how to work with polymorphic types inside containers.
For example Jdk8Module work  fine with polymorphic types.
Here are tests to reproduce this behaviour:

[code]

In two last tests I get this:

[code]

[2016-07-31 18:49] v1ctor commented on #66
Found the similar problem in Guava module https://github.com/FasterXML/jackson-datatype-guava/issues/42 maybe can help.

[2016-07-31 19:56] v1ctor commented on #66
It seems like you don't use TypeDeserializer at all. I don't understand where is better place to integrate it.
For me it's not really clear why you take deserializers from context implementing ResolvableDeserializer instead of taking them from DeserializationConfig like it is made here https://github.com/FasterXML/jackson-datatype-jdk8/blob/2.6/src/main/java/com/fasterxml/jackson/datatype/jdk8/Jdk

[2016-08-01 11:51] v1ctor commented on #66
There is the same problem with serialization. But I haven't found solution yet.

[2016-08-03 22:06] danieldietrich commented on #66
Hi, @ruslansennov will take a look after his holiday.

[2016-08-07 17:29] ruslansennov commented on #66
I'll investigate this, thanks

[2016-08-07 17:30] #66 closed

[2016-08-07 18:15] ruslansennov commented on #64
Hi @zsolt-donca
Thank you for your contribution

[2016-08-07 18:15] #64 closed

[2016-08-25 13:41] zsolt-donca opened #72 "Release 2.0.3 does not include pull requests since April"
The recent `2.0.3` release was made from the old branch [`v2.0.x`](https://github.com/javaslang/javaslang-jackson/commits/v2.0.x) with the last commit being from _Apr 4, 2016_, making the new `2.0.3` release **practically identical** to the release `2.0.2` (see the branch history).

This, in practice, means that nothing developed in the last four months has been released, including the following p

[2016-08-25 13:50] danieldietrich commented on #72
I think we need to make a clean 2.1.0 release as soon as possible for both, javaslang and javaslang-jackson. This should include the work of the last months that is backward compatible.

javaslang-jackson depends on javaslang. So the javaslang-2.1.0 release needs to be made first. Looks like I will to start cherry-picking / `git rebase -i`-ing today...

[2016-08-25 13:52] ruslansennov commented on #72
Hi @zsolt-donca , @danieldietrich
Yes, I plan to make lot of cherry-picks during javaslang-jackson.2.1.0 preparing

[2016-08-25 14:04] zsolt-donca commented on #72
What is the reason behind making the new `2.0.3` release practically identical to the `2.0.2`? Just to follow the same versioning of _javaslang_?

[2016-08-25 14:09] danieldietrich commented on #72
Yes. But I think the patch versions should be independent of each other, e.g.

`javaslang-<major>.<minor>.<patch>` and `javaslang-jackson-<major>.<minor>.<patch>` should be compatible independent of the `<patch>` version. In particular the `patch` versions may differ. Always taking the actual patch release is the way to go.

`javaslang-jackson` should follow `javaslang` regarding `<major>.<minor>`

[2016-08-25 14:33] zsolt-donca commented on #72
As long as `javaslang-jackson` only uses the public API of `javaslang`, not depending on any internal implementation detail (neither is that needed nor would it be a good idea). The backwards/forwards compatibility rules of `javaslang` with regards to versioning should define the relationship between the two.

I'm not sure of javaslang's compatibility rules, so let's take an example. If `javaslang

[2016-08-25 16:23] zsolt-donca commented on #72
As long as `javaslang-jackson` only uses the public API of `javaslang`, not depending on any internal implementation detail (neither is that needed nor would it be a good idea). The backwards/forwards compatibility rules of `javaslang` with regards to versioning should define the relationship between the two.

We also should keep in mind the main purpose of `javaslang-jackson`: to serialize/deseri

[2016-08-26 10:35] danieldietrich commented on #72
@zsolt-donca

Never ever depend on a SNAPSHOT, it is subject to change. I think the right direction is to bring new features more frequently into production.

[2016-08-26 10:42] danieldietrich commented on #72
@zsolt-donca

I share exactly your opinion on versioning. We will do it like that.

The challenge is to keep track of potentially breaking refactorings of javaslang core types can be solved by running javaslang-jackson tests before a release. Is Github able to trigger CI build chains across project boundaries?

[2016-08-26 10:44] danieldietrich commented on #72
@ruslansennov Will the new Vector be compatible to the current serializer/deserializer of javaslang-jackson? I need to know whether to include it in 2.1.0 or not...

[2016-08-26 11:03] ruslansennov commented on #72
As I know, no public API was changed in `Vector`.
So, please include it

[2016-08-26 11:06] danieldietrich commented on #72
Will do!

[2016-09-13 02:13] kag0 opened #73 "SortedSet tries and fails to be serialized as HashSet"
Like title says.

this line in `SetDeserializer.create`
[code]
should be
[code]
(TreeSet is not assignable from SortedSet)

I'll put in a PR in a couple hours if you guys are open to it.

[2016-09-13 02:47] ruslansennov commented on #73
We are open, thank you

[2016-09-13 07:00] danieldietrich commented on #73
Do we fulfill the following 'invariant'?

[code]

[2016-09-13 07:14] ruslansennov commented on #73
@danieldietrich that makes sense

[2016-09-13 07:22] ruslansennov opened #75 "Check `deserialize(serialize(o)) equals o` for all"
See [this](https://github.com/javaslang/javaslang-jackson/issues/73#issuecomment-246592921) comment

[2016-09-13 15:52] #73 closed

[2016-09-29 10:06] emmanueltouzery opened #76 "JsonTypeInfo feature not well supported"
I have added a failing test in a branch of mine:
https://github.com/emmanueltouzery/javaslang-jackson/tree/jsontypeinfo_issue

commit https://github.com/emmanueltouzery/javaslang-jackson/commit/0b79bd6d9b086f0aeb0c96887cd17f5887e154af

I have stumbled in a codebase I'm working on on a use of that @JsonTypeInfo feature; with this example, we get a different serialization with javaslang.collection.L

[2016-09-29 11:14] ruslansennov commented on #76
I'll take a look, thank you

[2016-09-29 16:41] ruslansennov commented on #76
@emmanueltouzery please review #77
Maybe you can suggest other tests to verify this PR more precisely?

[2016-09-30 13:32] emmanueltouzery commented on #76
wow, this looks great thank you!
I've looked a bit in our codebase for other use cases of that API (which I had never seen before), but it seems it's only being used in that scenario that I extracted for the test. I've tried to port it over to Set from List and with your patch it works as well...

So I guess it's good for master, of course if I spot other issues I'll report but so far I'm not awar

[2016-09-30 13:33] danieldietrich commented on #76
Should go into the 2.1. Nothing will break, right @ruslansennov

[2016-09-30 13:54] ruslansennov commented on #76
No, I found some problems with `Option` and `Either`. I will prepare fixes soon

Hope I will be able to release all fixes with 2.0.4
Hope nothing will break in API :)

[2016-10-01 05:49] #76 closed

[2016-10-03 17:45] ruslansennov commented on #72
2.0.4 released

[2016-10-03 17:46] #72 closed

[2016-10-07 09:42] mpulkkinen opened #80 "OptionSerializer fails to serialize parameterized/wildcard Option fields"
adding the following to OptionPlainTest:

    public static class Parameterized<T> {
        public Option<T> value;
        public Parameterized(Option<T> value) {
            this.value = value;
        }
    }

    @Test
    public void writeWrappedParameterizedSome() throws IOException {
        Parameterized<Integer> object = new Parameterized<>(Option.some(1));
        assertEquals("{\"value

[2016-10-07 10:02] ruslansennov commented on #80
Hi @mpulkkinen
Which version you are using?

[2016-10-07 10:35] mpulkkinen commented on #80
first noticed using 2.0.4, wrote that test using latest master 3...

[2016-10-07 10:36] ruslansennov commented on #80
thank you, I'll tale a look

[2016-10-11 13:41] emmanueltouzery opened #82 "XML-specific annotations"
jackson supports also XML serialization and deserialization through some extra dependency, and even JAXB XML-specific annotations. Those don't work with javaslang-jackson.. That may be on purpose (jackson supports so many features, it's really difficult to support it all), but in case you actually intend to support these use cases, I added two failing tests: one using jackson XML-specific annotati

[2016-10-11 14:37] ruslansennov commented on #82
Until now it is only `csv` used here :)
thank you

[2016-10-11 18:13] ruslansennov commented on #80
@mpulkkinen please check `3.0.0-SNAPSHOT`
@danieldietrich I plan to release next bugfix release. The version will be `2.0.4.1`. What's your opinion about fourth digit?

[2016-10-11 19:23] danieldietrich commented on #80
@ruslansennov we have to re-release *every* Javaslang module then when the core is released, even if the module did not change.

It will save us from total chaos, if we have to break compatibility for some reason. But it is only a matter of organisation to get semantic versioning right.

I would keep major and minor in sync and use the patch version for each module on its own.

[2016-10-12 05:38] ruslansennov commented on #82
It seems that the problem is localized [here](https://github.com/FasterXML/jackson-dataformat-xml/blob/jackson-dataformat-xml-2.6.5/src/main/java/com/fasterxml/jackson/dataformat/xml/ser/XmlBeanSerializerModifier.java#L54).
`java.util.ArrayList` is an Jackson indexed type, but `javaslang.collection.List` is not.

[2016-10-12 09:26] mpulkkinen commented on #80
@ruslansennov seems to work, closing

[2016-10-12 09:26] #80 closed

[2016-10-19 18:48] emmanueltouzery commented on #82
I was looking a little more...
I think the criteria is inheritance from `java.util.Collection`, or being a raw array, which we obviously don't have.

Following the call, we find [this](https://github.com/FasterXML/jackson-dataformat-xml/blob/jackson-dataformat-xml-2.6.5/src/main/java/com/fasterxml/jackson/dataformat/xml/util/TypeUtil.java#L16).

they call `JavaType.isContainerType`. Also line 35 o

[2016-10-19 20:11] ruslansennov commented on #82
I believe this is right way, because it seems we can't do anything here in Javaslang.
We can start with opening issue with description of our problem. Could you create it?

[2016-10-21 09:48] eugenpp opened #83 "@JsonInclude(Include.NON_EMPTY) ignored for List, Map"
- @JsonInclude(Include.NON_EMPTY) annotation works correctly on Option. Empty option is not serialized.
- Map, List is serialized always what is IMHO a bug.

[2016-10-22 12:33] emmanueltouzery commented on #82
github did link the issue, but in case you did not get notified, I opened https://github.com/FasterXML/jackson-databind/issues/1430. Let's see what they suggest...

[2016-10-22 16:34] ruslansennov commented on #82
Thank you!

[2016-10-25 17:41] emmanueltouzery commented on #82
i don't know if you saw, we got a [pretty amazing answer](https://github.com/FasterXML/jackson-databind/issues/1430#issuecomment-255810690) on the upstream bug.
From what I can see, `CollectionLikeType` does return `true` for `isContainerType()` so it should work I think.

I've tried myself to make javaslang `List` a `CollectionLikeType`, but I broke a huge number of tests with that (3 failures, 2

[2016-10-25 19:48] ruslansennov commented on #82
Hi Emmanuel

First of all, `JavaslangTypeModifier` should be modified on something like this:
[code]
because in fact `javaslang.collection.List` instance represents by `javaslang.collection.List$Cons` implementation. And here we can observe next problem: Jackson doesn't find custom serializer if serializable type is container type (see [this](https://github.com/FasterXML/jackson-databind/blob/mast

[2016-10-27 19:53] ruslansennov opened #85 "Deserialization bug"
This code
[code]
fails with
[code]

[2016-10-27 19:55] ruslansennov opened #86 "jackson MapLikeType"
`JavaType` of Javaslang map collections should be modified to `MapLikeType`

[2016-10-27 20:02] ruslansennov opened #87 "XML deserialization bug"
This code
[code]
fails with
[code]

[2016-10-27 20:43] emmanueltouzery commented on #87
looking a little at this... jackson-dataformat-xml has a WrapperHandlingDeserializer.

There it's used to wrap a normal deserializer, or not =>
https://github.com/FasterXML/jackson-dataformat-xml/blob/2.6/src/main/java/com/fasterxml/jackson/dataformat/xml/deser/XmlBeanDeserializerModifier.java#L81

[2016-10-27 20:48] emmanueltouzery commented on #87
I have no idea whether that's really the issue we have, but if the deserializer doesn't inherit from [beandeserializerbase](https://github.com/FasterXML/jackson-databind/blob/2.6/src/main/java/com/fasterxml/jackson/databind/deser/BeanDeserializerBase.java) that code just bails out, and we don't inherit from that (and I guess it's not easy to change because we use type parameters and that one force

[2016-10-27 20:49] emmanueltouzery commented on #87
(btw I did not debug just looked at the code, so maybe this code is not even run, just guessing here, don't take my babblings too seriously)

[2016-10-28 04:42] #85 closed

[2016-10-29 06:17] ruslansennov commented on #83
Hi @eugenpp
Thank you!
Could you provide test cases to reproduce these bugs?

[2016-10-29 06:20] ruslansennov opened #90 "XML tests for all Javaslang types"
Currently ready for `javaslang.collection.Seq` and `javaslang.collection.Set` only.
Maybe depended from #86

[2016-10-29 06:22] #87 closed

[2016-12-06 20:57] Diagoras opened #98 "Ensure consistency with JacksonScalaModule's Either serialization/deserialization."
This project looks to represent Either types using "left" and "right" in JSON, where the [JacksonScalaModule](https://github.com/FasterXML/jackson-module-scala) instead uses "l" and "r". Seamless compatibility between these projects would be really nice to have, but would require one of two changes:

1. If you're willing to break backwards compatibility, moving to using "l" and "r" would solve thi

[2016-12-07 08:12] ruslansennov commented on #98
Hi @Diagoras
Like you I prefer `"left"` and `"right"` instead of `"l"` and `"r"`. Also we have to keep backwards compatibility. I believe your second proposal makes sense. Could you make PR?

[2016-12-07 17:31] Diagoras commented on #98
Sure, I'll try to get on that the next time I'm free.

[2016-12-19 19:40] #98 closed

[2016-12-20 13:42] bartosz-bilicki opened #100 "jackson serialization for javaslang.control.Either broken in 2.0.5"
Jackson serialization for javaslang.control.Either is broken in 2.0.5. It works fine in 2.0.4. No exception is thrown, but my instance field of type Either is not present in output json.

[2016-12-20 13:52] ruslansennov commented on #100
Hi @bartosz-bilicki
Could you provide a minimal test case to show this?

[2016-12-21 20:01] #82 closed

[2016-12-21 20:02] #83 closed

[2017-01-11 18:53] densmnko opened #101 "@JsonDeserialize(contentAs = ...) is ignored ?"
It seems that  @JsonDeserialize(contentAs = X.class) is ignored.

Here is some test fragment:

[code]
readValue fail with **com.fasterxml.jackson.databind.JsonMappingException: Can not construct instance of ...$AX: abstract types either need to be mapped to concrete types, have custom deserializer, or contain additional type information**

Works fine when using java.util.List.

Using javaslang 2.0

[2017-01-11 19:33] ruslansennov commented on #101
Hi @densmnko
This modified test (without `javaslang-encodings`) works fine:
[code]
@io7m please take a look, maybe problem is in `immutables-javaslang` artifact

[2017-01-11 19:38] io7m commented on #101
@densmnko: Can you put a minimal example in a repository somewhere that I can test? Something similar to https://github.com/io7m/immutables-javaslang-bug-20161226

[2017-01-11 19:41] #90 closed

[2017-01-12 11:26] densmnko commented on #101
Sure, here it is [https://github.com/densmnko/javaslang_encoding_bug_20170112](https://github.com/densmnko/javaslang_encoding_bug_20170112)

Using jackson.version 2.8.5 brokes the thing, using 2.6.5 is OK.

It seems a conflict is somewere around jackson-databind...

[2017-01-12 11:48] io7m commented on #101
Hm, if I remove all references to `immutables-javaslang`, I can still reproduce the problem:

[code]

I did notice this, however:
![conflict](https://cloud.githubusercontent.com/assets/612494/21888596/dbcd90de-d8bc-11e6-95a9-c3c26ec68ab8.png)

It seems like that version of `javaslang-jackson` wants `jackson-databind-2.6.5` but it's getting a much newer version after conflict resolution.

[2017-01-12 12:02] ruslansennov commented on #101
Thank you guys, I'll investigate these conflicts

[2017-01-17 19:28] #101 closed

[2017-01-17 19:31] ruslansennov commented on #101
Minimal version of jackson increased to 2.7.2
Also all tests passed with jackson 2.8.4 (see [travis config](https://github.com/javaslang/javaslang-jackson/blob/master/.travis.yml#L14))

[2017-01-20 18:05] ruslansennov commented on #86
fixed by #103
related to #101
xml tests switched off because of [jackson-dataformat-xml](https://github.com/FasterXML/jackson-dataformat-xml/blob/d9892b05c19f21a09802334f5bb6f169ac11e246/src/main/java/com/fasterxml/jackson/dataformat/xml/util/TypeUtil.java#L24)

[2017-01-20 18:05] #86 closed

[2017-02-01 09:48] jezovuk commented on #75
There is a problem with SortedMap, similar to the one with SortedSet (which was fixed in #73).

[2017-02-01 18:09] ruslansennov commented on #75
@jezovuk thank you, fixed

[2017-02-02 09:09] jezovuk commented on #75
Thanks!

[2017-05-03 20:12] heldev opened #109 "Nested maps are deserialized as java maps"
Hi,  It looks like that it's impossible right now to deserialize a JSON as vavr map tree, because only top level elements are deserialized as javaslang collections, deeper levels are java containers:
[code]

[2017-05-03 20:31] ruslansennov commented on #109
This is expected behavior. By default, all JSON objects deserializes to `java.util.LinkedHashMap`.

You could try to use
[code]
instead of
[code]
(unfortunately your example will fail because `val1` is not a map)

[2017-05-03 20:39] heldev commented on #109
I understand that there is, probably, some technical limitation from the jackson side, but this issue automatically breaks #75 `deserialize(serialize(o)) equals o` rule and gives a really hard time in some cases. Would it be possible to fix it ?

[2017-05-03 20:44] ruslansennov commented on #109
Up to now I have no idea about how that issue should be fixed. Maybe tests will be produced without nested cases only...

[2017-05-15 12:06] emmanueltouzery opened #110 "registering the jaxb annotation module breaks (at least) option jackson integration"
Trying to upgrade our app from javaslang 2.0.6 to vavr 0.9.0, I've hit an issue which I've reproduced there with the vavr-jackson test:

https://github.com/emmanueltouzery/javaslang-jackson/commit/a32fb7f869a2bbb4d6f8fb4fdaf09a1b81f8c2ab

if you register a jaxb annotation module also for your json operation (it's a bit unusual, but we do that...) breaks things like Option serialization. This used

[2017-05-15 13:32] emmanueltouzery commented on #110
hmm actually that also happens for XML operations, therefore it's more serious. It seems vavr-jackson 0.9.0 can't be used with JAXB annotations at all.

[2017-05-15 17:43] emmanueltouzery commented on #110
ok I found the upstream bug and it's fixed with jackson 2.7.9 so not the fault of vavr-jackson and I'm going to close this bug.

https://github.com/fasterxml/jackson-module-jaxb-annotations/issues/63

[2017-05-15 17:43] #110 closed

[2017-05-15 20:08] danieldietrich commented on #110
Thank you

[2017-05-16 04:20] ruslansennov commented on #110
@emmanueltouzery In case of your app, which Jackson version fails?

[2017-05-16 04:32] emmanueltouzery commented on #110
The PR shows it fails with 2.7.2 as in the pom of vavr-jackson. But it passes with 2.7.9 (see the bug i linked). In a way it could make sense to increase vavr-javaslang dependency to jackson 2.7.9 but since 2.7.x are api compatible it's not really an issue.

[2017-05-16 04:41] ruslansennov commented on #110
Now `vavr-jackson` tests with two versions:
[code]
Maybe we should bump default version to `2.7.9`?

[2017-06-28 21:36] chb0github opened #111 "Auto discovery support"
`ObjectMapper mapper = new ObjectMapper().findAndRegisterModules();`

Fails to auto-discover `VavrModule` because it isn't using the `ServiceLoader` mechanism.

Easy enough to fix. PR incoming.

[2017-06-29 20:12] #111 closed

[2017-07-04 12:20] hyeonsoo opened #113 "cannot use JSR-303 Bean Validation Annotations: javax.validation.UnexpectedTypeException"
- Given
[code]

- When
[code]

- Then
[code]

[2017-07-28 13:28] RNowak4 opened #114 "Using VavrModule causes bad type serialization when serializing Option."
When Option object includes an object extending abstract class or implementing an interface, then VavrModule serializes only getters or fields from abstract class.

For example
`abstract  class A {
public int i;
}`

`class B extends A {
public double d;
}`

Result of serialization `Option<A> o = Option.of(new B())` will result in serialization of only field `i` without field `d`.

[2017-07-28 13:29] RNowak4 commented on #114
Fix in: https://github.com/vavr-io/vavr-jackson/pull/115

[2017-07-28 14:47] ruslansennov commented on #114
Hi @RNowak4
Could you provide your reproducer as a test?

[2017-07-31 15:21] RNowak4 commented on #114
Done :)

[2017-09-19 04:57] #114 closed

[2017-10-23 13:18] jezovuk opened #116 "Serialization of Option<Tuple2<X, Y>> as bean field fails."
I have a bean property of type Option<Tuple2<LocalDateTime, LocalDateTime>>. Serialization fails with serializer trying to cast Tuple2 into LocalDateTime. Problem seems to be in OptionSerializer.emulatedJavaType(JavaType, TypeFactory). I think it should return type (or something based on it), rather than its first contained type.

Stack trace (root cause):

`Caused by: java.lang.ClassCastException

[2017-10-23 16:17] ruslansennov commented on #116
Hi @jezovuk
I can't reproduce the problem. Which version of `vavr-jackson` are you use?

[code]

[2017-10-24 08:45] jezovuk commented on #116
Using vavr and vavr-jackson 0.9.1. Your test does pass. However, it fails if option is used as pojo field.
Failing test:

[code]

BTW, LocalDateTime is Java8 one in my case, not Joda Time, but that is probably irrelevant.

[2017-10-24 08:56] ruslansennov commented on #116
Something strange. This test pass the serialization and fails deserialization. Which version of Jackson are you using?
[code]

[2017-10-24 09:29] jezovuk commented on #116
Using Jackson 2.8.10. Your test fails serialization for me (same ClassCastException as before). However, if (declared) type of Kekeke.x is changed to `Option<?>`, everything works ok (both serialization and deserialization). I'll try the latest Jackson version.

[2017-10-24 09:38] ruslansennov commented on #116
We use 2.7.2 and 2.8.4 Jackson versions for `vavr-jackson` unit test (see [travis](https://github.com/vavr-io/vavr-jackson/blob/master/.travis.yml#L13)). Both serializes fine for me. Version 2.8.10 also passes...

[2017-10-24 10:06] jezovuk commented on #116
Tried Jackson 2.9.2, no luck.

Here is entire (minimal) test case:

[code]

Resulting exception trace:

[code]

Replacing `public Option<Tuple2<String, String>> getX()` with `public Option<?> getX()` makes it work.

Using JDK8u144. Test run manually, from Eclipse.

[2017-10-24 10:15] jezovuk commented on #116
Also tried Jackson 2.7.2 and 2.8.4, same problem.

[2017-10-24 10:27] ruslansennov commented on #116
Got it. I created a new clean project and the problem was reproduced.

[2017-10-24 10:34] jezovuk commented on #116
Yay! Thanks for the effort.

[2017-10-28 04:40] ruslansennov commented on #116
@jezovuk thanks for reporting.
This issue clashes with #114 and shows that all serializes must be reworked :(

[2017-10-28 04:40] #116 closed

[2017-10-29 06:25] jezovuk commented on #116
So what is the state of this now? Both this issue and #114 are closed. Is there something else to do/fix?

[2017-10-30 03:54] ruslansennov commented on #116
@jezovuk both issues fixed for `Lazy` and `Option`

[2017-10-30 08:38] jezovuk commented on #116
Thanks. Looking forward to next release 😃

[2017-11-24 11:30] BornToRain opened #119 "vavr serialization can ignore field?"
vavr serialization

        "items": {
          "async": false,
          "ordered": false,
          "traversableAgain": true,
          "lazy": false,
          "sequential": false,
          "distinct": true,
          "memoized": false,
          "singleValued": false,
          "empty": true,
          "orNull": null,
          "id": "451565338509840384"
        }

I want serialization

[2017-11-25 17:18] ruslansennov commented on #119
what object are you serializing? can you provide a reproducer?

[2017-11-26 04:49] BornToRain commented on #119
io.vavr.collection.HashMap

[2017-11-26 06:30] ruslansennov commented on #119
you should register the `VavrModule` in the `ObjectMapper`

[code]

[2017-11-26 07:32] BornToRain commented on #119
thanks, vavr collection is ok.but Future have problem.
![image](https://user-images.githubusercontent.com/19318296/33237921-8b250d92-d2bc-11e7-9e94-9eafaf0032d9.png)
controller return io.vavr.concurrent.Future have error;
![image](https://user-images.githubusercontent.com/19318296/33237933-d0633fbe-d2bc-11e7-9340-7320241159c1.png)
Future.toCompletableFuture() is ok;

[2017-11-26 08:49] ruslansennov commented on #119
`VavrModule`  does not process serialization/deserialization of `Future` and `Try`

[2017-12-08 14:46] Boerrild opened #120 "Comparator in instance of TreeMap which has been deserialized from JSON is not java.io.Serializable"
When using vavr-jackson (0.9.2) to deserialize a TreeMap from JSON I get an instance back where the comparator apparently is not implementing "java.io.Serializable". Looking into the code the culprit seems to be the io.vavr.jackson.datatype.deserialize.MaplikeDeserializer that fails to provide a Serializable lambda reference.

The following JUnit4 test proves the case and suggests a correction:
[c

[2017-12-09 04:23] ruslansennov commented on #120
thank you

[2017-12-09 05:21] #120 closed

[2018-01-12 03:05] BornToRain opened #122 "Spring-Data Not Supported Option<?>"
### Spring-Boot:1.5.9.RELASE
### Vavr、Vavr-Jackson:0.9.1

[code]

[2018-01-12 03:05] BornToRain commented on #122
ObjectMapper had registered VavrModule

[2018-01-12 12:20] ruslansennov commented on #122
could you provide a repository with a small reproducer with this problem?

[2018-01-15 07:06] BornToRain commented on #122
spring-boot-starter-data-mongodb

[2018-02-15 13:20] bduisenov commented on #109
Hi @ruslansennov, do you have any updates on this?
@heldev  did you find a solution?

[2018-02-15 23:50] heldev commented on #109
@bduisenov, no, not really :-/

[2018-05-08 14:18] KWatzal opened #123 "Serialization of Option<Interface<T>> throws EncodeException"
Following sample-code throws an Exception:
[code]
Error is: `io.vertx.core.json.EncodeException: Failed to encode as JSON: Cannot create TypeBindings for class ImplementedClass with 1 type parameter: class expects 0 (through reference chain: MyClass["value"])`

However, making an interface-alias does work:

[code]

The exception is thrown at: https://github.com/vavr-io/vavr-jackson/blob/2afe67256b

[2018-05-11 03:13] ruslansennov commented on #123
:+1:

[2018-06-07 01:27] kennymacleod opened #125 "Cannot deserialize a JSON list on to IndexedSeq type"
When deserializing a JSON list structure on to a Java class with a property of type `IndexedSeq`, you get a `JsonMappingException` because it's trying to coerce a `List$Cons` on to `IndexedSeq`. It works fine if the java type is `Array` or `Seq`.

Test case:

[code]

The problem here appears to be `SeqDeserializer`, which is checking to see if the property is one of `Array`, `Queue`, `Stream` or `

[2018-06-07 03:54] #125 closed

[2018-12-05 11:42] goerge commented on #123
Is there any plan to release this any time soon?

[2018-12-06 19:39] ruslansennov commented on #123
@goerge version 0.9.2.1 released
https://oss.sonatype.org/content/repositories/releases/io/vavr/vavr-jackson/0.9.2.1/

[2018-12-24 22:06] smarijic opened #128 "Use @JsonCreator with vavr validation?"
Hi,

Is there a way to return Try from static factory annotated with @JsonCreator?
Here is question on SO. https://stackoverflow.com/questions/53917859/jackson-jsoncreator-return-generics

Thanks.

[2019-01-25 15:31] aaiezza opened #129 "Either "left", "right""
This is a great library and it _is_ working as expected, however I would really love the option to alter how the `Either` is serialized.

Is it possible to use `JsonUnwrapped` on the left and right objects?

I just need to not have the "left" and "right" keys in a single valued‑array that I get in the response json.

Is there a way I can maybe modify the existing serializer in some kind of bean de

[2019-03-05 15:13] boriselec opened #130 "Iterator serialization"
Iterator serializes as bean:

Caused by: com.fasterxml.jackson.databind.JsonMappingException: (was java.util.NoSuchElementException) (through reference chain: Message["payload"]->com.google.common.collect.SingletonImmutableBiMap["cards"]->io.vavr.collection.Iterator$3["next"])

[2019-03-18 15:46] sLite opened #131 "Support deserializeNullAsEmptyCollection for Maps"
Is there a reasoning or technical reason behind the fact that the MapLikeDeserializers doesn't honor `deserializeNullAsEmptyCollection` setting like the CollectionLikeDeserializers do?

Would you accept a PR for this, and if yes, would you prefer a new Setting `deserializeNullAsEmptyMap` or extend the scope of the existing one?

[2019-03-19 04:18] ruslansennov commented on #131
Hi @sLite
No, there is no reasoning, PR are welcome, thanks.
I believe `deserializeNullAsEmptyCollection` is enough and we don't need a new setting flag.

[2019-03-20 10:43] sLite commented on #131
Ok, thanks, i will give it a try this weekend :)

[2019-04-16 20:21] kreed-rmn opened #132 "EitherSerializer / EitherDeserializer does not respect default typing"
If an object mapper is configured with default typing, for example,

[code]

a client cannot deserialize json without providing the explicit `Either.class` class type to the mapper's `readValue` method. In other words, the serialization mechanism is not including the type information if this is enabled.

A simple example, like so fails:
[code]

with

More complicated types can change this message.

[2019-05-02 06:09] stuartizon opened #133 "Option serialization not respecting Include.NON_NULL"
Trying to serialize an instance of a class containing an optional field, and this field is coming through as `null` even when JsonInclude.Include.NON_NULL is specified.

[code]

This test fails whether I put the NON_NULL setting as an annotation on the data class or if I add it manually to the objectMapper.

Not sure if this is the expected behaviour but I did see this #51 from a couple of years a

[2019-05-07 19:23] ruslansennov commented on #133
Hi @stuartizon
Not sure I understood you, but `lastName` is not null in your examples. This is a singleton `Option.None.INSTANCE` object. This object satisfies the `JsonInclude.Include.NON_NULL` condition and not satisfies the `JsonInclude.Include.NON_EMPTY` condition.

[2019-08-11 06:07] mincong-h commented on #128
I think this is not supported by Vavr Jackson yet. Returning `Try<T>` instead of `T` requires new serializer and deserializer. The deserializer will be able to modify the existing type T and encapsulate it into `Try<T>`, in both success and failure cases. However, this is a completely new feature. What do you think, @ruslansennov and @danieldietrich ?

[2019-08-13 04:17] ruslansennov commented on #128
Looks like `Option`, and can be implemented in the same ugly way. But I believe that these new serializer and deserializer have more rights to life than mutable `Iterator` (see #130)

[2019-08-13 07:41] mincong-h commented on #128
Thank you, @ruslansennov . Could you give some additional hints about the changes to make? I didn't fully understand the exception shown at issue 130. I'll take a look in the coming days and get back to you.

[2019-08-16 14:07] mincong-h commented on #130
Hi @boriselec , I'm trying to help on your issue, but I cannot reproduce so far. Here's what I tried, the test case passed as expected:

[code]

Could you provide more information, ideally a test case? My commit is reachable here: https://github.com/mincong-h/vavr-jackson/commit/ed3569c4348bab3d8483a4cc40d71e14e45a61ea

[2019-09-27 07:59] qux42 opened #138 "Bug: Cannot deserialize to Map<String, String>"
When I want to deserialize
[code]
to a class that has the property `io.vavr.collection.Map<String, String> test;` I get following exception:
`com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize instance of `java.lang.String` out of VALUE_NULL token`.
With an Java Map everything works fine.

I'm using Vavr 0.10.0 and Jackson 2.9.9.1

Example:
[code]

[2019-09-27 11:49] mincong-h commented on #138
Hi @qux42 , I can reproduce this problem. Here's a simplified version:

[code]

[2019-09-28 06:44] mincong-h commented on #138
Sorry, I accidentally closed this issue when merging the PR...

[2019-09-30 05:57] mincong-h commented on #138
Fixed by https://github.com/vavr-io/vavr-jackson/pull/139 and https://github.com/vavr-io/vavr-jackson/pull/140

[2019-09-30 05:57] #138 closed

[2019-10-04 14:04] qux42 commented on #138
Thanks!
When can I expect that a new version gets released?

[2019-10-04 18:21] mincong-h commented on #138
I don't know, @qux42 . I guess @ruslansennov and @danieldietrich may have the answer :)

[2019-10-07 04:25] ruslansennov commented on #138
This week I will prepare v.0.10.2 for all Vavr satellites

[2019-11-25 09:33] lukaszs7 opened #141 "Cannot deserialize/serialize YearMonth / LocalDateTime with specific JsonFormat"
For POJO with @JsonCreator I cannot set @JsonFormat if certain property has Option type. e.g.:

- `@JsonProperty(value = "operatingMonth") @JsonFormat(shape = JsonFormat.Shape.STRING, pattern = IHubConstants.YEAR_MONTH_FORMAT) Option<YearMonth> operatingMonth`
I've got:

`Cannot deserialize value of type `java.time.YearMonth` from String "05-2019"`

For LocalDateTime and other java.time classes sa

[2019-12-08 08:07] mincong-h commented on #141
Hi @lukaszs7 , I spent some time to investigate your issue and here what I found.

Serializing and deserializing Java Time classes are not supported by default by Object Mapper. You need to declare additional dependency on [Jackson Java 8 Date/Time](https://github.com/FasterXML/jackson-modules-java8/tree/master/datetime) and register module `JavaTimeModule`. Once you registered that module, Jackso

[2019-12-08 08:19] lukaszs7 commented on #141
I've already added Jackson JavaTimeModule. But as you wrote, my problem only exists if you want to pass jsonformat. I've already fixed my issue with custom option Java time serializer. But for sure it's VAVR bug so it will be nice to use your fix in next VAVR releases :) thanks

[2019-12-09 21:54] drewctaylor opened #142 "MaplikeDeserializer will always use a keyComparator based on String::compareTo."
I'm using vavr-jackson as a model for a serialization module I'm writing, and I discovered that this conditional:

https://github.com/vavr-io/vavr-jackson/blob/0965498ba5f6825f8a1202c013bbcfa3e6a0fba4/src/main/java/io/vavr/jackson/datatype/deserialize/MaplikeDeserializer.java#L49-L55

Will always evaluate to false (`isAssignableFrom` returns true only if the raw class is a supertype of Comparable,

[2019-12-17 06:28] ruslansennov commented on #142
@drewctaylor thanks for the report

[2019-12-17 10:23] #142 closed

[2019-12-18 03:14] #141 closed

[2019-12-18 03:19] ruslansennov commented on #141
@lukaszs7 @mincong-h thank you guys. I am afraid that the same problems may appear in another deserializer (for example, in a `LazyDeserializer`), but this should be checked in another issue

[2019-12-18 07:23] mincong-h opened #145 "Check JsonFormat support in LazySerializer and LazyDeserializer"
Check `@JsonFormat` support in LazySerializer and LazyDeserializer, similar to https://github.com/vavr-io/vavr-jackson/issues/141

[2019-12-18 07:25] mincong-h commented on #141
@ruslansennov thanks, I created a new issue for that. I will check it and other serializer / deserializers in the coming days.

[2019-12-26 02:33] #145 closed

[2020-02-12 06:13] ajkettun opened #149 "Option serialization not respecting @JsonUnwrapped"
Option serialization not respecting @JsonUnwrapped in vavr-jackson 0.10.2.
[code]
Foo-instance serialized:
[code]
How unwrapping works with Java Optional:
[code]

[2020-03-28 17:14] miguelaferreira opened #150 "Better support raw type reference in VAVR"
Thanks for the great library. It's really nice to be using vavr collections "all-the-way".
I was experimenting with this module in a few of my projects and I noticed that on Java 11 and above I always get the same exception running the example on the README

Example
[code]

This is the output
[code]

My question is: Does the module support java versions above 8? Or is this error expected?

[2020-03-28 20:07] mincong-h commented on #150
Hi @miguelaferreira , I just checked the support for JDK 11 and JDK 14 (https://github.com/vavr-io/vavr-jackson/pull/151), everything is working as expected. About the type reference problem, I don't know much about the internal implementation. Need help from other contributors.

[2020-03-29 08:01] miguelaferreira commented on #150
Thanks for getting back to me @mincong-h. I will re-do my testing, maybe something got messed up. I'll post here my findings.

[2020-03-29 08:36] mincong-h commented on #150
Your example was good, @miguelaferreira . I wrote a test yesterday and I can confirm your issue (see "FIXME"):

[code]

But I didn't have time to investigate how it works internally...

[2020-03-29 08:48] miguelaferreira commented on #150
Thanks again for the investigation @mincong-h. In order to use vavr collections in my model and still have it serialise/deserialise the broken case (the one you marked with `//FIXME`) is what I need. I will look into it and see if I can debug it.

[2020-03-29 08:57] ruslansennov commented on #150
Hi guys. It seems we should fix README.md

[2020-03-29 09:17] miguelaferreira commented on #150
I'm not sure what you mean exactly @ruslansennov. I trying to debug this issue I've cloned the project and added a test like the one from @mincong-h. Turns out that there it works.

Here's the test
[code]

And the output
[code]

I will try to create a jar myself with the same java version I'm using in my project and see if that will work.

[2020-03-29 09:22] miguelaferreira commented on #150
I've compiled the jar using Java 14 JDK and then I pulled in the local jar into my project and that fixed the error.

[2020-03-29 09:56] mincong-h commented on #150
This is not really working. `[1]` is the string representation of Java list while `List(1)` is the representation of VAVR list. They look quite similar. Here is the pseudo code for type representation:

- `List([1])`: `io.vavr.collection.List(java.util.ArrayList(1))`
- `List(List(1))`: `io.vavr.collection.List(io.vavr.collection.List(1))`

JUnit didn't complain because you removed the assertions f

[2020-03-29 12:47] miguelaferreira commented on #150
Fair enough @mincong-h. What I meant to say is that I can now run through the example in the README.md and not get an exception.

[2020-05-31 19:56] domdorn opened #153 "compile and release against 1.0.0-alpha-3"
The sourcecode of this module is source-compatible to vavr-1.0.0-alpha-3 but not binary compatible.
because of this, using the module together with `'io.vavr', name: 'vavr', version: '1.0.0-alpha-3'` results in `java.lang.IncompatibleClassChangeError`s

please release a new version which is simply compiled against 1.0.0-alpha-3

[2020-06-03 23:47] camory opened #154 "Serialize of Liste of Date does not follow pattern defined in @JsonFormat"
Hello,
I am facing the same issue as described in #141 but with List.
I have a DTO with a List `java.util.Date` with a custom date format:
[code]
When serializing, the date format is not taken into account.
It works when  replacing the io.vavr.collections.List by java.util.List.

[2020-06-06 17:20] mincong-h commented on #154
Thanks for creating this issue, @camory . I confirm that this is a bug. I'm working on a fix.

[2020-06-07 13:33] mincong-h commented on #154
@camory , I have a fix for your issue, see  #155

However, after the fix, I think you still need to modify your code to make it works. You need to provide the shape:

[code]

[2020-06-07 13:56] #154 closed

[2020-06-07 14:32] mincong-h opened #157 "Check contextualization on serializers and deserializers"
Check contextualization on serializers and deserializers. Progress:

Serializer:

- [x] ArraySerializer (#155)
- [x] LazySerializer (#147)
- [x] MapSerializer (#158)
- [x] MultimapSerializer (#158)
- [x] OptionSerializer (#144)

Deserializer:

- [x] ArrayDeserializer (#155)
- [x] LazyDeserializer (#147)
- [x] MapDeserializer (#158)
- [x] MultimapDeserializer (#158)
- [x] OptionDeserializer (#144)

[2020-06-16 20:13] #157 closed

[2020-07-04 10:26] ruslansennov commented on #153
done
https://repo1.maven.org/maven2/io/vavr/vavr-jackson/1.0.0-alpha-3/

[2020-07-04 10:26] #153 closed

[2020-07-08 14:33] domdorn commented on #153
Thanks a lot, works like a charm!

[2020-07-12 19:07] #131 closed

[2020-07-12 19:15] mincong-h commented on #131
Hi @sLite , I implemented this feature since I saw that the issue was not active since one year. Hope you don't mind.

[2020-08-02 19:56] chisui opened #165 "Can not deserialize explicit Option.Some or Option.None"
If a json property has the the `Option.Some` or `Option.None` it can not be deserialized:

[code]

`Either.Left` and `Either.Right` work fine though.

[2020-08-29 08:05] mincong-h commented on #165
Thanks for reporting this @chisui ! The fix is in progress https://github.com/vavr-io/vavr-jackson/pull/166. Meanwhile, I suggest not using the deprecated classes `Option.{Some,None}`, they are meant to be internal classes.

[2020-08-29 16:19] #165 closed

[2020-08-29 19:08] chisui commented on #165
In the latest non alpha release `0.10.3` `Option.Some` and `Option.None` are not deprecated.

[2020-08-29 20:09] mincong-h commented on #165
Ah, yes, you're right. Thanks for pointing out 👍 You make me think that we should back-port the solution to 0.10.x as well. This is done now as 07616da9f2bbb3c7eb00168a32c582a304f80e65.

[2020-11-28 07:54] mcac0006 opened #174 "Serialising Either: IncompatibleClassChangeError"
[code]

Some observations:

- evaluating `io.vavr.jackson.datatype.serialize.EitherSerializer#serialize`'s own value parameter is just fine through debug watch.
Unless I am missing something, I think it may be a generics issue/type erasure in `EitherSerializer` (`Either.One<Cat>` is technically not a direct subtype of `Either<?, ?>`).

[2020-12-05 09:40] mincong-h commented on #174
Hi @mcac0006 , thanks for reporting this. It sounds like a bug. On my side, I tried to reproduce it but without success. Could you provide more detail, such as the version of Vavr-Jackson, the version of Jackson, the source code of `Cat` and `Dog`?

Here is the my attempt but both tests passed, using the last commit 0538bdb4bc107537ef7c8a2aaa5c3880588ab725 on `master` branch:

[code]

[2021-01-11 11:14] chisui opened #177 "MapDeserializer fails on @JsonCreate"
The following Code fails:

[code]

[code]

The issue seems to be that `MapDeserializer` doesn't ensure that the current token is a valid field name before invoking the `KeyDeserializer`.

[2021-01-12 09:10] chisui commented on #177
resolved by #178

[2021-01-12 09:10] #177 closed

[2021-02-13 03:06] dbaltor commented on #109
You might find this [Stackoverflow answer](https://stackoverflow.com/a/66180692/7066647) useful.

[2021-04-19 12:51] qux42 opened #181 "No serializer for Try<?>"
Hello,
I wonder why there is no serializer for Try<?>.
We use vavr a lot in akka-messages, where we can have a Try<?> as an response. So far we are serializing everything with protobuf, but we are planning to change to Jackson.
Is it possible, that a serializer for Try gets added?

[2021-05-14 22:57] hypr2771 opened #185 "`@JsonMerge` support for collections"
### Description

Merging seems to not be working using VAVR collections with this library.

### Case

I am trying to merge VAVR collections using `@JsonMerge`.

### Expectation

I am expecting the same result as merging Java collections.

### Resources

There is minimal reproducible snippet available at https://github.com/hypr2771/test-merge-vavr.

## Environment

- `openjdk version "15.0.1" 2020-

[2021-05-15 03:22] hypr2771 commented on #181
Here is my attempt to implement a `Try` serializer and deserializer (note that it also adds a mixin, due to the lack of good support of `StackTraceElement`): https://github.com/hypr2771/vavr-jackson/commit/dd701ef22813196dd224afc5a27496c7a3b0969b.

[2021-07-01 07:58] b0c1 commented on #129
Not necessary... maybe it can be configurable with the property.

[2021-07-20 18:52] Vance-Turner opened #187 "Parsing List of Tuple2"
Have I stumbled upon on a bug or am I doing the generics wrong?

[code]
I would like to parse the JSON above into List<Tuple2<Integer,Double>>. There could be more [int,double] entries; but I've included only two pairs in the example.

The first parsing attempt works; but the second fails:

[code]

I am using:

- Java 11
- VAVR: 1.0.0-alpha-3
- VAVR-Jackson: 0.10.3

[2021-07-20 19:18] Vance-Turner commented on #187
Tried a wider variety of types. Interesting, everything works except List:

[code]

[2021-07-20 19:33] ruslansennov commented on #187
hi @Vance-Turner
could you test your reproducer with vavr 0.10.3?

[2021-07-20 19:46] Vance-Turner commented on #187
Ah, thanks @ruslansennov. I see there is a 1.0.0-alpha-3 version for Jackson available as well and matching the versions 0.10.3 or 1.0.0-alpha3 works. I thought I had checked that.

[2021-07-20 19:46] #187 closed

[2021-11-15 17:42] skapral opened #189 "Cannot deserialize JSON array to vavr List, using JavaType ObjectMapper API"
The version is 0.10.3

Minimal example for reproducing the issue is:

[code]

Attempt to run this code will cause
[code]

Some context on how the issue was bumped into, can be found [here](https://stackoverflow.com/questions/69922456/sending-receiving-collection-over-rabbitmq-in-spring-boot/69976167?noredirect=1#comment123699018_69976167). I was using vavr + vavr-jackson + spring AMQP for messagin

[2022-10-06 10:40] superduper opened #192 "Update Dependencies: Transitive vulnerable dependency jackson-databind"
Hi!

I've noticed quite a long list of CVEs associated with one of dependencies that `0.10.3` relies on. Do you think it's safe to simply bump version to a non-vulnerable one?

![image](https://user-images.githubusercontent.com/902950/194292486-b0b7fba1-f23e-49a4-889f-2a22846978ac.png)

[2022-10-28 15:58] moledzki opened #193 "vavr-jackson-0.10.4 missing"
Hi,

Latest vavr-jackson package available in maven repository is 0.10.3, version 0.10.4 is missing. Is it intentional or a bug?